{{!< layout}}

{{!-- <p class="title"><strong>Summary: {{issueSummary}}</strong></p> --}}

{{!-- <button class="aui-button aui-button-primary" type="button" onclick="checkAPI()">Trigger</button> --}}

<div id="details">
  <div class="aui-message">
    <p class="title"><strong>Current status: {{summary.status}}</strong></p>
    <p>Status was hold in <time>{{summary.days}} days, {{summary.hours}} hours, {{summary.minutes}} minutes.</time></p>
  </div>
</div>